input {
  width: 500px;
  height: 30px;
  border-radius: 30px;
  outline:none;
  font-size: 18px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
  padding-left: 100px;
  padding-bottom: 30px;
}
